<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="FirstWebApp" packages="">
	<properties>
		<!-- <property name="baseDir" value="/u01/oracle/config/domains/identity_domain/servers/AdminServer/upload/FirstWeb.war/app/logs" /> -->
		<property name="baseDir" value="${web:rootDir}/logs" />
		<property name="pattern" value="%d %p %c{1.} [%t] %m%n" />
		
		<property name="fileName" value="${baseDir}/app.log" />
		<property name="fileNameRolling" value="${baseDir}/app_rolling.log" />
		<property name="fileNamePattern" value="${baseDir}/app_rolling-%d{yyyyMMdd-HH}-%i.log.gz" />
		
	</properties>

	<Appenders>
		<!-- <File name="ApplicationLog" fileName="${web:rootDir}/app.log" /> -->
		
		<File name="ToFile" fileName="${fileName}">
			<PatternLayout>
				<!-- <pattern>%d %p %c{1.} [%t] $${env:USER:-first_web} %m%n</pattern> -->
				<pattern>${pattern}</pattern>
			</PatternLayout>
		</File>
		
		<!-- <RollingFile name="RollingFile" fileName="${baseDir}/app.log" filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz"> -->
		<RollingFile name="RollingFile" fileName="${fileNameRolling}" filePattern="${fileNamePattern}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>

			<Policies>
				<!-- <CronTriggeringPolicy schedule="0 0 * * * ?"/> -->
				<!-- <TimeBasedTriggeringPolicy interval="6" modulate="true"/> -->
				<!-- <OnStartupTriggeringPolicy /> -->
				<!-- <CronTriggeringPolicy schedule="*/6 * * * * ?"/> -->
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<!-- <AppenderRef ref="ToFile" /> -->
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>